# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
.Python
env/
venv/
.venv/
ENV/
build/
develop-eggs/
dist/
downloads/
.eggs/
GRAFANA_SETUP_SIMPLE.md
parts/
sdist/
wheels/
pip-wheel-metadata/
credentials.txt
# Virtual environment
dataset.zip
*.env
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/
setup_grafana.md
# Jupyter / notebooks checkpoints
.ipynb_checkpoints

# VS Code
.vscode/

# Airflow
airflow_settings.yaml
airflow_settings.json
logs/
dags/__pycache__/
plugins/__pycache__/
unittests.cfg

# Docker
**/__pycache__/
tmp/
*.log
*.pid


# System files
.DS_Store
Thumbs.db


# Local configurations
*.local
*.config
*.bak