name: Deploy Airflow DAGs to MWAA

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1  

      - name: Upload DAGs
        run: |
          aws s3 sync dags/ s3://hurricane-mwaa-bucket/dags/ --delete

      - name: Upload requirements.txt
        run: |
          aws s3 cp requirements.txt s3://hurricane-mwaa-bucket/requirements.txt
